@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Nazmul Haque</h2>
<h3>Nazmul works as a QA automation developer now he is very keen to learn sotware development as well</h3>

<p> Nazmul is a very normal guy who doesn't have much to complain about his life.</p>
