@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10 Teviot Place<br />
    Beechboro, WA- 6063<br />
    <abbr title="Phone">M:</abbr>
    0422896038
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nazmul_02eee@yahoo.com">nazmul_02eee@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ssj_n@yahoo.com">ssj_n@yahoo.com</a>
</address>