@model IEnumerable<ASP.NET_MVC_Application.Models.Naz>

@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
